

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
$lbl-color: #ccc;
$lbl-noFocus: #ccc;
$top: #000;
$btn-color: #ccc;
/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/
  background: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/*form styles*/
#msform {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  min-height: 315px;
  border-radius: 10px;
  
}
#msform fieldset {
 
  border: 0 none;
  border-radius: 10px;
  /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
  padding: 20px 30px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
  font-family: 'Open Sans', sans-serif;

}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 13px;
  background: #fff;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #2FC877;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
}

#msform .previous {
  width: 100px;
  background:#545153;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  background:#52BA7E;
}

#msform .previous:hover, #msform .previous:focus {
  background:#353334;
}
/*headings*/
.h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #2C3E50;
  margin: 25px 0;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

.h1 {
  margin: 40px 0;
  font-weight:800;
  font-size:48px;
  font-family: 'Open Sans', sans-serif;
  color: #2FC877;
}

/*logo*/

.powered {
  padding-top:20px;
  margin-bottom: 10px;
  clear:both;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style:italic;
  font-size:10px;
  color:#292929;
}
.logo {
  margin: 0 2px;
  width:40px;
  height:auto;

}


label {


  transition-property: top, opacity;
  transition-duration:  0.2s;
          // browsers (se8/9) that do not support placeholder
  // text on input will see labels on page load
  position: absolute;
  top: .5em;
  font-size: .75em;
  font-weight: bold;
  color: $lbl-color;
  padding-left: 1.333333em;
  opacity: 1;

  &.valid {

    // I'm using this class for server side validation in
    // PHP, but I am also using it as a hook for styling

    opacity: 1;
    top: $top;
    color: $lbl-noFocus !important;

  }
  &.hasValue { top: $top; opacity: 1; }
  &.noFocus { color: $lbl-noFocus !important; }
  &.hasFocus { color: $lbl-color !important; }

}
input, textarea, button {

  width: 100%;
  padding: 1.5em 1em .5em;
  border: none;
  font-size: 1em;
  border-radius: 2px;
  background: #f5f5f5;
  resize: none;
}

input {
  margin-bottom: .5em;
}

button {
  padding: 1em;
  width: 50%;
  opacity: 1;
  color: lighten($btn-color, 50%);
  text-shadow: 0px 1px 0px darken($btn-color, 50%);
}







body,
.bgImage {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  background-image: url(https://image.freepik.com/free-photo/abstract-blur-hotel-interior_74190-4973.jpg);
  background-size: cover;
  background-position: top;
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  z-index: -1;
}

.blobCont {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@for $i from 1 through 18 {
  $a: #{$i*90};
  $b: #{$i*90+360};

  .blob:nth-child(#{$i}) {
    animation: move#{$i} 20s infinite linear;
  }

  @keyframes move#{$i} {
    from {
      transform: rotate(#{$a}deg) translate(200px, 0.1px) rotate(-#{$a}deg);
    }
    to {
      transform: rotate(#{$b}deg) translate(200px, 0.1px) rotate(-#{$b}deg);
    }
  }
}
