/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    background: #fff;
}

body {
    font-family: "Open Sans", sans-serif;
}


/*form styles*/

#msform {
    width: 500px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 315px;
    border-radius: 10px;
}

#msform_logo {
    position: absolute;
    left: 0%;
    top: 0%;
}

#msform fieldset {
    border: 0 none;
    border-radius: 10px;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
    padding: 20px 30px;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
    font-family: "Open Sans", sans-serif;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-color: transparent;
    color: WHITE;
}

::placeholder {
    color: WHITE;
    opacity: 1;
    font-weight: bold !important;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: #2FC877;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px;
}

#msform .previous {
    width: 100px;
    background: #545153;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 40px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background: #52BA7E;
}

#msform .previous:hover,
#msform .previous:focus {
    background: #353334;
}


/*headings*/

.h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #2C3E50;
    margin: 25px 0;
}

.h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

.h1 {
    margin: 40px 0;
    font-weight: 800;
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    color: #2FC877;
}


/*logo*/

.powered {
    padding-top: 20px;
    margin-bottom: 10px;
    clear: both;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 10px;
    color: #292929;
}

.logo {
    margin: 0 2px;
    width: 40px;
    height: auto;
}

label {
    transition-property: top, opacity;
    transition-duration: 0.2s;
    position: absolute;
    top: 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    color: #ccc;
    padding-left: 1.333333em;
    opacity: 1;
}

label.valid {
    opacity: 1;
    top: #000;
    color: #ccc !important;
}

label.hasValue {
    top: #000;
    opacity: 1;
}

label.noFocus {
    color: #ccc !important;
}

label.hasFocus {
    color: #ccc !important;
}

input,
textarea,
button {
    width: 100%;
    padding: 1.5em 1em 0.5em;
    border: none;
    font-size: 1em;
    border-radius: 2px;
    background: #f5f5f5;
    resize: none;
}

input {
    margin-bottom: 0.5em;
}

button {
    padding: 1em;
    width: 50%;
    opacity: 1;
    color: white;
    text-shadow: 0px 1px 0px #4d4d4d;
}

body,
.bgImage {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    background-image: url(https://image.freepik.com/free-photo/abstract-blur-hotel-interior_74190-4973.jpg);
    background-size: cover;
    background-position: top;
    -webkit-filter: grayscale(70%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
    z-index: -1;
}

.blobCont {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.blob:nth-child(1) {
    animation: move1 20s infinite linear;
}

@keyframes move1 {
    from {
        transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
    }
    to {
        transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
    }
}

.blob:nth-child(2) {
    animation: move2 20s infinite linear;
}

@keyframes move2 {
    from {
        transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
    }
    to {
        transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
    }
}

.blob:nth-child(3) {
    animation: move3 20s infinite linear;
}

@keyframes move3 {
    from {
        transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
    }
    to {
        transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
    }
}

.blob:nth-child(4) {
    animation: move4 20s infinite linear;
}

@keyframes move4 {
    from {
        transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
    }
    to {
        transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
    }
}

.blob:nth-child(5) {
    animation: move5 20s infinite linear;
}

@keyframes move5 {
    from {
        transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
    }
    to {
        transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
    }
}

.blob:nth-child(6) {
    animation: move6 20s infinite linear;
}

@keyframes move6 {
    from {
        transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
    }
    to {
        transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
    }
}

.blob:nth-child(7) {
    animation: move7 20s infinite linear;
}

@keyframes move7 {
    from {
        transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
    }
    to {
        transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
    }
}

.blob:nth-child(8) {
    animation: move8 20s infinite linear;
}

@keyframes move8 {
    from {
        transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
    }
    to {
        transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
    }
}

.blob:nth-child(9) {
    animation: move9 20s infinite linear;
}

@keyframes move9 {
    from {
        transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
    }
    to {
        transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
    }
}

.blob:nth-child(10) {
    animation: move10 20s infinite linear;
}

@keyframes move10 {
    from {
        transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
    }
    to {
        transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
    }
}

.blob:nth-child(11) {
    animation: move11 20s infinite linear;
}

@keyframes move11 {
    from {
        transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
    }
    to {
        transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
    }
}

.blob:nth-child(12) {
    animation: move12 20s infinite linear;
}

@keyframes move12 {
    from {
        transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
    }
    to {
        transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
    }
}

.blob:nth-child(13) {
    animation: move13 20s infinite linear;
}

@keyframes move13 {
    from {
        transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
    }
    to {
        transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
    }
}

.blob:nth-child(14) {
    animation: move14 20s infinite linear;
}

@keyframes move14 {
    from {
        transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
    }
    to {
        transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
    }
}

.blob:nth-child(15) {
    animation: move15 20s infinite linear;
}

@keyframes move15 {
    from {
        transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
    }
    to {
        transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
    }
}

.blob:nth-child(16) {
    animation: move16 20s infinite linear;
}

@keyframes move16 {
    from {
        transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
    }
    to {
        transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
    }
}

.blob:nth-child(17) {
    animation: move17 20s infinite linear;
}

@keyframes move17 {
    from {
        transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
    }
    to {
        transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
    }
}

.blob:nth-child(18) {
    animation: move18 20s infinite linear;
}

@keyframes move18 {
    from {
        transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
    }
    to {
        transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
    }
}


/*# sourceMappingURL=style.css.map */