@charset "utf-8";
/* CSS Document */
html, body{
    height:100%;
}

body{
   /*background-image:url(../img/bg.jpg);
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;*/ 
	background: white;
    font-size:16px;
     font-family: Verdana, sans-serif;
}
body.admin{
    font-size:14px;
    background-image:none;
    background-color:#253746;
    color: #fff;
}
body.login-page{
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%);
	font-size:16px;
    font-family: Verdana, sans-serif;
}
body.video-page{
	background-image:url(../img/video-page-bg.png);
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;
	font-size:16px;
    font-family: Verdana, sans-serif;
}

img {
    vertical-align: initial;
    border-style: none;
}

.navbar{
    box-shadow: 0 1px 4px 2px rgba(0,0,0,0.2);
}
.logo-nav{
    background-color:#fff;
    box-shadow: 0 1px 4px 2px rgba(0,0,0,0.2);
    min-height: 80px;
}


.login{
  
    /*margin-top: 10vh;*/
    padding: 30px 20px;
    border-radius: 8px;
   
}



#login-form{
    padding:0px 15px;
}

.form-group{
    margin: 5px 0;
}
label{
    
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}
.form-control{
    
    border-radius: 6px;
    font-size: 1em;
    padding: 3px;
    height: auto;
}
.login-button{
    border: 0;
    background-color:#24487D;
    color: #fff;
    border-radius:0;
    margin-top:20px;
}
.btn-register, .btn-login{
    background-image:url(../img/btn-register.png);
    background-size:cover;
    width:119px;
    height:30px;
    border:0;
}
.btn-login{
    background-image:url(../img/btn-login.png) !important;
}
#login-message, #ques-message{
    padding:5px 10px;
}

.login-info{
    background-color:#24487d;
    padding:10px 0;
    color: #fff;
}
a.logout{
    color:#dee2e6;
    margin-right:10px;
}
.btn-submit{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    border-radius:0;
    background-color:#24487D;
    border:0;
}

.links{
    color: #fff;
}
.links a{
    color: #fff;
}
#ques_count{
    display:inline-block;
}
#ques_update{
    color:#cc0000;
}
.header .col-12{
    padding:0;
}
.btnSpk{
    font-size:0.8em;
}
#logged-in{
    display: inline-block;
}

#asked-ques{
    border: 0px solid #fff;
    /*min-height: 100px;*/
    max-height: calc(100vh - 350px);
    margin-top: 25px;
    overflow:auto;
        background-color: rgba(255,255,255,0.25);
        padding:5px;
}
@media only screen and (max-width: 762px) {
	body.login-page{
		background: white;
	}
}